<h1> This is from GetEmployeeById page</h1>
@using SampleProject.Models;

@{
    /*any C# code Here */
    //Employee emp = ViewData["emp"] as Employee;
    Employee emp = ViewBag.employee;

}


@*<h1> Employee Id: @emp.Id </h1>
<h1> Employee FName: @emp.FirstName </h1>
<h1> Employee LName: @emp.LastName </h1>
<h1> Employee Dep: @emp.department </h1> *@

<h1> Employee Id: @emp.Id </h1>
<h1> Employee FName: @emp.FirstName </h1>
<h1> Employee LName: @emp.LastName </h1>
<h1> Employee Dep: @emp.department </h1>

