@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using World_of_Soccer.Models;

@{
    List<Player>? Players = ViewData["gap"] as List<Player>;
    List<Team>? Teams = ViewData["gat"] as List<Team>;
}

        <h2> List of Players </h2>

        <table >
            <tr>
                 <th>Id </th>
                 <th>Player Name</th>
                 <th>Age</th>
                 <th>Kit Number</th>
                 <th>Player Team</th>
                 <th>Dominant Foot </th>
            </tr>
          @foreach(Player x in Players){
            <tr>
                <td>@x.Id</td>
                <td>@x.Name</td>
                <td>@x.Age</td>
                <td>@x.KitNumber</td>
            <td>
                @{
                    Team PTeam = Teams.Find(y => y.TeamId == @x.PTeam);
                }
                @PTeam.TeamName
                </td>
                <td>@x.DominantFoot</td>
            </tr>
          }
        </table>
